@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root{
    --cor-primaria: #000000;
    --cor-secundaria: #F6F6F6;
    --cor-tercearia: #22D4FD;
    --cor-hover: #272727;

    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}

*{
    margin: 0;
    padding: 0;
}
body{
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}
.cabecalho {
    padding: 4% 0% 0% 15%;
}
.cabecalho__menu {
    display: flex;
    gap: 80px;
}
.cabecalho__menu__link {
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
    color: var(--cor-tercearia);
}
.apresentacao{
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}
.apresentacao__conteudo {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.apresentacao__conteudo__titulo {
    font-size: 2.25rem;
    font-family: var(--fonte-primaria);
}
.titulo-destaque{
    color: var(--cor-tercearia);
}
.apresentacao__conteudo__texto {
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
}
.apresentacao__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}
.apresentacao__links__subtitulo {
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 1.5rem;
}
.apresentacao__links__navegacao {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    border: 2px solid var(--cor-tercearia);
    width:50%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21.5px 0px;
    text-decoration: none;
    color: var(--cor-tercearia);
    font-family: var(--fonte-secundaria);
}
.apresentacao__links__navegacao:hover {
    background-color: var(--cor-hover);
}
.apresentacao__imagem {
    width: 50%;
}
.rodape {
    color:var(--cor-primaria);
    background-color: var(--cor-tercearia);
    padding: 15px;
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 1rem;
    font-weight: 400;
}

@media (min-width:1000px) and (max-width:1570px) {
    .apresentacao{
        padding: 3% 10%;
        gap: 82px;
    }
    .apresentacao__conteudo {
        gap: 30px;
    }
}

@media (min-width:1000px) and (max-width:1370px) {
    .apresentacao__conteudo__titulo {
        font-size: 1.95rem;
    }
    .apresentacao__conteudo__texto {
        font-size: 1.1rem;
    }
}

@media (min-width:1050px) and (max-width:1210px) {
    .apresentacao{
        padding: 3% 8%;
        gap: 72px;
    }
    .apresentacao__conteudo__titulo {
        font-size: 1.75rem;
    }
    .apresentacao__links__subtituto {
        font-size: 1.2rem;
    }
}

@media (max-width: 1050px) {

    .cabecalho {
        padding: 8%;
    }
    .cabecalho__menu {
        justify-content: center;
    }
    .apresentacao {
        padding: 3% 8%;
        gap: 72px;
        flex-direction: column-reverse;
    }
    .apresentacao__conteudo {
        width: auto;
    }
    .apresentacao__links__navegacao {
        display: flex;
        justify-content: center;
        gap: 16px;
        border: 2px solid var(--cor-tercearia);
        width:50%;
        text-align: center;
        border-radius: 8px;
        font-size: 1.5rem;
        font-weight: 600;
        padding: 21.5px 0px;
    }
}

@media (max-width: 750px) {

    .apresentacao{
        padding: 3% 8%;
        gap: 40px;
    }
    .apresentacao__conteudo__titulo {
        font-size: 1.55rem;
    }
    .apresentacao__conteudo__texto {
        font-size: 1.2rem;
    }
    .apresentacao__links__subtitulo {
        font-size: 1.2rem;
    }
}

@media (max-width: 450px) {
    .apresentacao{
        padding: 3% 8%;
        gap: 20px;
    }
    .apresentacao__links {
        gap: 14px;
    }
    .apresentacao__links__navegacao {
        width:70%;
        font-size: 1.1rem;
    }
}

@media (max-width: 350px) {

    .cabecalho {
        padding: 5%;
    }
    .cabecalho__menu__link {
        font-size: 0.8rem;
    }
    .apresentacao{
        padding: 3% 8%;
        gap: 20px;
    }
    .apresentacao__conteudo {
        gap: 20px;
    }
    .apresentacao__conteudo__titulo {
        font-size: 0.8rem;
    }
    .apresentacao__conteudo__texto {
        font-size: 0.6rem;
    }
    .apresentacao__links {
        gap: 8px;
    }
    .apresentacao__links__subtitulo {
        font-size: 0.7rem;
    }
    .apresentacao__links__navegacao {
        border: 1px solid var(--cor-tercearia);
        width:70%;
        font-size: 0.8rem;
        padding: 8.0px 0px;
    }
    .rodape {
        padding: 8px;
        font-size: 0.5rem;
    }
}